<div >
  <div class="col-lg-6" align = "center" style=" margin-top: 1px; margin-bottom: : 1px;">
   
    <pagination [totalItems]="bigTotalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
    [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)" ></pagination>

  </div>
  </div>
  

  <div style= "margin-left: 20px">
    <div *ngIf="page">

     <img src= {{page.img}}>

 <audio id="myAudio" *ngIf="page.audio" autoplay >
  <source src={{page.audio}} type="audio/wav">


</audio>

<button onclick="myAudio.load()">load</button>

<script>

</script>
    </div>
  </div>

  <div style=" margin-top: 5px; margin-left: 25px">

 <div *ngIf="showMilestone" >
     <h5>

       <span  *ngIf="selectedMilestone" (click)="open(selectedMilestone,noteUpdate)">
       <span ><img src={{selectedMilestone.icon}} ></span> &nbsp; &nbsp; 
      {{selectedMilestone.name}}
       </span> 

       <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
       (onHover)="clickOn($event)"  
       [titles]="['one','two','three']"> 
       </rating> 
       <span class="label"
       [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
       [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">
       {{percent}}% complete
    
       </span>

       <span *ngIf="page.id == 21">
         <button  md-raised-button  (click)="openGame('http://claudepeon.com/docs/ingredient_game.html')">
              Play the Game
          </button>
       </span>
       </h5>

 </div>
    <hr/>

<button  md-raised-button *ngIf="tempReport" 
    (click)="openAch(tempReport)">
    Achievement Report
</button>

</div>

